fastapi
uvicorn
playwright
pydantic
python-dotenv
openai
dateparser

pandas
openpyxl
pillow

numpy
opencv-python
paddlepaddle
paddleocr
matplotlib
requests

torch
torchvision
transformers
accelerate
qwen-vl-utils
auto-gptq
optimum
ultralytics
supervision
easyocr
timm
einops
